{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<div class="section-spacing">
  <div class="bt-container">
    <h1 class="section__title">
      {{ page.title | escape }}
    </h1>
    <div class="contact-row">
      <div class="contact-column">
        <div class="rte">{{ page.content }}</div>
      </div>
      <div class="contact-column  common-form">
        {%- form 'contact', id: 'ContactForm', class: 'isolate coman-form' -%}
        {%- if form.posted_successfully? -%}
        <div class="success-message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
        {%- elsif form.errors -%}
        <div class="error-message">
          {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
        {%- endif -%}
        <div class="contact__fields ">
          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          </div>
          <div class="field field--with-error">
            <input
                   autocomplete="email"
                   type="email"
                   id="ContactForm-email"
                   class="field__input"
                   name="contact[email]"
                   spellcheck="false"
                   autocapitalize="off"
                   value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                   aria-required="true"
                   {% if form.errors contains 'email' %}
                   aria-invalid="true"
                   aria-describedby="ContactForm-email-error"
                   {% endif %}
                   placeholder="{{ 'templates.contact.form.email' | t }}"
                   >
            {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
            {%- endif -%}
          </div>
        </div>
        <div class="field">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
        </div>
        <div class="field">
          <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}"
                    >
            {{- form.body -}}
          </textarea>
        </div>
        <div class="contact__button">
          <button type="submit" class="button">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
        <p class="form__note">
          This message (including attachments) is covered by the United States
          Electronic Communication Privacy Act, 18 U.S.C. sections. 1510-2521 and various similar acts and laws worldwide, is CONFIDENTIAL, and constitutes non-public information intended to be conveyed only to the designated recipient(s).
        </p>
      </div>
      {%- endform -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Contact Page",
  "settings": [

  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
