<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
.menu-drawer-main-foot {
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
}
  .menu-drawer-main-foot > div {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 11px;
  }
  .menu-drawer-main-foot a {
    padding: 3px 20px;
    background: #fff;
    color: #0000FF;
    border-radius: 10px;
    margin-top: 9px;
    font-family: 'Helvetica-Neue';
    font-weight: 400;
    font-size: 9px;
  }
  .menu-drawer-main-foot > div > div P {
    color: #fff;
    font-size: 11px;
    letter-spacing: -0.224px;
    line-height: 1;
    margin: 0 0 5px;
  }
.menu-drawer-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu-drawer-main .bt-col.header-small-block {
    max-width: 32%;
  }
  
  .menu-drawer-main .cart-drawer-support {
    display: flex;
    align-items: center;
    gap: 0;
    width: auto;
    justify-content: center;
    padding: 0;
    padding-left: 7px;
  }
  .menu-drawer-main .head-form-mob {
    margin: 30px 0 10px;
    width: 69%;
  }
  .menu-drawer-main .cart-drawer-support P {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    letter-spacing: -0.22px;
    font-family: 'Helvetica-Neue';
  }
  .menu-drawer-main .cart-drawer-support a {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    font-family: 'Helvetica-Neue';
    letter-spacing: -0.22px;
  }
  .head-form-pop form {
    min-width: 300px;
  }
  .head-form-pop {
    background: #0000D8;
    position: absolute;
    top: 154px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    z-index: -1;
    transition: all var(--duration-default) ease;
    opacity: 0;
    visibility: hidden;
}
  .head-form-pop .head-form-popover {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100vh + 100%);
}
.head-form-pop.sopen {
    transform: translateY(0);
    z-index: 0;
    visibility: visible;
    opacity: 1;
}
  .head-form-pop .field {
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
  }
  .head-form-pop .field:after, .head-form-pop .field:before {
  box-shadow: none;
  border: none;
  }
  .head-form-pop input#Search-In-Modal {
    height: 61px;
    font-size: 14px;
    padding: 0 60px 0 20px;
    width: 100%;
    outline: none;
    box-shadow: none;
    color: #000;
    font-family: Inter;
    border: 0;
    outline: none;
}
  .head-form-pop button.search__button.field__button {
    max-width: 54px;
    width: 100%;
    height: 100%;
    background-color: #fff!important;
    border-radius: 0 10px 10px 0;
    top: 0;
    right: 0px;
    z-index: 1;
}
  header-drawer {
    justify-self: start;
  }

    .head-form-desk {
      display: none;
    }
    .head-form-mob {
      display: block;
    }
    .bt-row .bt-col {
      position: unset;
    }
  @media screen and (min-width: 992px) {
    header-drawer {
      display: none;
    }
    .head-form-desk {
      display: block;
    }
    .head-form-mob {
      display: none;
    }
  
    /* .list-menu--inline > :last-child a {
      padding: 5px 10px 2px;
      background: #fff;
      color: #0000D8;
      border-radius: 5px;
    } */
  .head-form-pop form {
    min-width: 700px;
  }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  align-items: center;
  }

  .list-menu__item {
    display: flex;
    padding: 0;
    align-items: center;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header__heading-logo {
    max-width: 94px;
  }
  
  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo {
      width: 75%;
    }
  {%- endif -%}
  
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<div class="header-top">
  <div class="bt-container">
    <div class="header-t-inner">
      <ul class="header-top-bar-menu">
        {%- for link in section.settings.top_menu.links -%}
        {% assign new_window_link = section.settings.new_window_link | handle | downcase %}
        {% assign new_window_menu_link = link.title | handle | downcas %}
        <li><a href="{{ link.url }}"{% if new_window_link == new_window_menu_link %}target="_blank" {% endif %} class="{{ link.title | downcase }}">{{ link.title | downcase }}</a></li>
        {% endfor %}
      </ul>
      {% if section.settings.top_right_text != blank %}<a href="{{section.settings.top_right_link}}" class="customer-support">{{ section.settings.top_right_text }}</a>{% endif %}
    </div>
  </div>
</div>
      
<div  class="head-form-pop">
  <div class="head-form-popover"> </div>
  <form action="/search" method="get" role="search">
    <div class="field">
      <input  id="Search-In-Modal" type="search" name="q" value="" placeholder="Search Your Product....." role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" aria-activedescendant="">
      <input type="hidden" name="options[prefix]" value="last">
      <button class="search__button field__button" aria-label="Search">
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.999 9.02871H10.304L10.0576 8.80712C10.6075 8.21128 11.0093 7.50943 11.2344 6.75181C11.4595 5.99419 11.5023 5.19952 11.3597 4.42467C10.9462 2.14317 8.90505 0.321248 6.44155 0.0422157C5.57547 -0.0599876 4.6958 0.0239732 3.86986 0.287673C3.04392 0.551373 2.29359 0.987823 1.6763 1.56363C1.059 2.13943 0.591104 2.83932 0.308402 3.60975C0.0257007 4.38018 -0.0643101 5.20072 0.0452577 6.00859C0.344397 8.3065 2.2976 10.2105 4.7435 10.5962C5.57418 10.7292 6.42611 10.6893 7.23833 10.4793C8.05054 10.2693 8.80296 9.89449 9.44174 9.3816L9.67929 9.61139V10.2597L13.4185 13.7476C13.7793 14.0841 14.3687 14.0841 14.7295 13.7476C15.0902 13.4112 15.0902 12.8613 14.7295 12.5248L10.999 9.02871ZM5.7201 9.02871C3.52935 9.02871 1.76091 7.37913 1.76091 5.33563C1.76091 3.29212 3.52935 1.64255 5.7201 1.64255C7.91085 1.64255 9.67929 3.29212 9.67929 5.33563C9.67929 7.37913 7.91085 9.02871 5.7201 9.02871Z" fill="#0000D8"/>
        </svg>
      </button>
    </div>
  </form>
</div>
<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper">
  <header class="bt-header">
  
    <div class="bt-header-head-wrap">
      <div class="bt-container">
        <div class="bt-row align-items-center  justify-content-between bt-header-space">
          <div class="bt-col header-small-block">
            <a href="{{ routes.root_url }}" class="header-logo">
              {%- if settings.logo != blank -%}
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {{ settings.logo | image_url: width: 500 | image_tag:
                  class: 'header__heading-logo',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt
                }}
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
            </a>
          </div>
          <div class="bt-col header-medium-block">
            <div class="bt-header-menu">
          {%- if section.settings.menu != blank -%}
            <header-drawer data-breakpoint="tablet">
              <details id="Details-menu-drawer-container" class="menu-drawer-container">
                <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
                  <span>
                    {% render 'icon-hamburger' %}
                    {% render 'icon-close' %}
                  </span>
                </summary>
                <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
                  <div class="menu_close">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="white"/>
                    </svg>
                  </div>
                  <div class="menu-drawer-main">
                    <div class="bt-col header-small-block">
                      <a href="{{ routes.root_url }}" class="header-logo">
                        {%- if settings.logo != blank -%}
                          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                          {{ settings.logo | image_url: width: 500 | image_tag:
                            class: 'header__heading-logo',
                            widths: '50, 100, 150, 200, 250, 300, 400, 500',
                            height: logo_height,
                            width: settings.logo_width,
                            alt: logo_alt
                          }}
                        {%- else -%}
                          <span class="h2">{{ shop.name }}</span>
                        {%- endif -%}
                      </a>
                    </div>
                    <div class="cart-drawer-support">
                      <div>
                      <p>Need shopping help?</p>
                      <a href="tel:{{section.settings.header_phone | replace : "(", "" | replace : ")", "" | replace : " ", "" | replace : "-", ""}}">Call a specialist {{ section.settings.header_phone }}</a>
                      </div>
                    </div>
                    <div class="head-form-mob" style="max-width: 70%; margin: 30px 0 10px;">
                      <form action="/search" method="get" role="search">
                        <div class="field">
                          <input  id="Search-In-Modal" type="search" name="q" value="" placeholder="Search Your Product....." role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" aria-activedescendant="">
                          <input type="hidden" name="options[prefix]" value="last">
                          <button class="search__button field__button" aria-label="Search">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.375 8.25H8.7825L8.5725 8.0475C9.33291 7.16552 9.75083 6.03952 9.75 4.875C9.75 3.91082 9.46409 2.96829 8.92842 2.1666C8.39275 1.36491 7.63137 0.740067 6.74058 0.371089C5.84979 0.00211226 4.86959 -0.094429 3.92394 0.093674C2.97828 0.281777 2.10964 0.746076 1.42786 1.42786C0.746076 2.10964 0.281777 2.97828 0.093674 3.92394C-0.094429 4.86959 0.00211226 5.84979 0.371089 6.74058C0.740067 7.63137 1.36491 8.39275 2.1666 8.92842C2.96829 9.46409 3.91082 9.75 4.875 9.75C6.0825 9.75 7.1925 9.3075 8.0475 8.5725L8.25 8.7825V9.375L12 13.1175L13.1175 12L9.375 8.25ZM4.875 8.25C3.0075 8.25 1.5 6.7425 1.5 4.875C1.5 3.0075 3.0075 1.5 4.875 1.5C6.7425 1.5 8.25 3.0075 8.25 4.875C8.25 6.7425 6.7425 8.25 4.875 8.25Z" fill="white"/>
                            </svg>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="menu-drawer__inner-container">
                    <div class="menu-drawer__navigation-container">
                      <nav class="menu-drawer__navigation">
                        <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                          {%- for link in section.settings.mobile_menu.links -%}
                            <li>
                              {%- if link.links != blank -%}
                                <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                                  <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                                    {{ link.title | escape }}
                                    {% render 'icon-arrow' %}
                                    {% render 'icon-caret' %}
                                  </summary>
                                  <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                                    <div class="menu-drawer__inner-submenu">
                                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                        {% render 'icon-arrow' %}
                                        {{ link.title | escape }}
                                      </button>
                                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                        {%- for childlink in link.links -%}
                                          <li>
                                            {%- if childlink.links == blank -%}
                                              <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                {{ childlink.title | escape }}
                                              </a>
                                            {%- else -%}
                                              <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                                <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                  {{ childlink.title | escape }}
                                                  {% render 'icon-arrow' %}
                                                  {% render 'icon-caret' %}
                                                </summary>
                                                <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                                  <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                    {% render 'icon-arrow' %}
                                                    {{ childlink.title | escape }}
                                                  </button>
                                                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                    {%- for grandchildlink in childlink.links -%}
                                                      <li>
                                                        <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                          {{ grandchildlink.title | escape }}
                                                        </a>
                                                      </li>
                                                    {%- endfor -%}
                                                  </ul>
                                                </div>
                                              </details>
                                            {%- endif -%}
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </div>
                                </details>
                              {%- else -%}
                                <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                  {{ link.title | escape }}
                                </a>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </nav>
                    </div>
                  </div>
                  <div class="menu-drawer-main-foot">
                    <div class="">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 4C11.93 4 13.5 5.57 13.5 7.5C13.5 9.43 11.93 11 10 11C8.07 11 6.5 9.43 6.5 7.5C6.5 5.57 8.07 4 10 4ZM10 18C7.97 18 5.57 17.18 3.86 15.12C5.6116 13.7457 7.77362 12.9988 10 12.9988C12.2264 12.9988 14.3884 13.7457 16.14 15.12C14.43 17.18 12.03 18 10 18Z" fill="white"/>
                    </svg>
                    <div>
                    <p>Log into your account</p>
                      <p style="font-size: 9px;">Manage orders and track shipping</p>
                    </div>
                    </div>
                    <a href="/account">Log in/Sign up</a>
                  </div>
                </div> 
              </details>
            </header-drawer>
          {%- endif -%}
    
          {%- if section.settings.menu != blank -%}
            {%- if section.settings.menu_type_desktop == 'dropdown' -%}
              <nav class="header__inline-menu dropdown-type">
                <ul class="list-menu list-menu--inline" role="list">
                  {%- for link in section.settings.menu.links -%}
                    <li>
                      {%- if link.links != blank -%}
                        <header-menu>
                          <details id="Details-HeaderMenu-{{ forloop.index }}">
                            <summary class="header__menu-item list-menu__item link focus-inset first__level">
                              <span{% if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                              <span class="drop-icons">{% render 'icon-caret' %}</span>
                            </summary>
                            <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                      <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                        <span>{{ childlink.title | escape }}</span>
                                        {% render 'icon-caret' %}
                                      </summary>
                                      <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        </header-menu>
                      {%- else -%}
                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            {%- else -%}
              <nav class="header__inline-menu">
                <ul class="list-menu list-menu--inline" role="list">
                  {%- for link in section.settings.menu.links -%}
                    <li>
                      {%- if link.links != blank -%}
                        <header-menu>
                          <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                            <summary class="header__menu-item list-menu__item link focus-inset">
                              <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                              <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                                {%- for childlink in link.links -%}
                                  <li>
                                    <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                      {{ childlink.title | escape }}
                                    </a>
                                    {%- if childlink.links != blank -%}
                                      <ul class="list-unstyled" role="list">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    {%- endif -%}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </details>
                        </header-menu>
                      {%- else -%}
                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
        </div>
            <div class="header-icons-wrapper head-form-mob">
              <div class="header-cart">
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                  <p class="icons-b-icon {% if cart.item_count > 0 %}has_product{% endif %}">
                    <svg width="25" height="24" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 16C4.9 16 4.01 16.9 4.01 18C4.01 19.1 4.9 20 6 20C7.1 20 8 19.1 8 18C8 16.9 7.1 16 6 16ZM0 1C0 1.55 0.45 2 1 2H2L5.6 9.59L4.25 12.03C3.52 13.37 4.48 15 6 15H17C17.55 15 18 14.55 18 14C18 13.45 17.55 13 17 13H6L7.1 11H14.55C15.3 11 15.96 10.59 16.3 9.97L19.88 3.48C19.9643 3.32843 20.0075 3.15747 20.0054 2.98406C20.0034 2.81064 19.956 2.64077 19.8681 2.49126C19.7803 2.34175 19.6549 2.21778 19.5043 2.13162C19.3538 2.04546 19.1834 2.00009 19.01 2H4.21L3.54 0.570001C3.45963 0.399307 3.3323 0.255042 3.17291 0.154095C3.01352 0.0531475 2.82867 -0.000302861 2.64 1.29085e-06H1C0.45 1.29085e-06 0 0.450001 0 1ZM16 16C14.9 16 14.01 16.9 14.01 18C14.01 19.1 14.9 20 16 20C17.1 20 18 19.1 18 18C18 16.9 17.1 16 16 16Z" fill="white"/>
                    </svg>
                  </p>
                  <div class="icons-b-desc" style="display: none;">
                    <h4>SHOPPING CART</h4>
                    <div class="cart-count-bubble">
                      <span>{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                      - <span class="cart_price">{{ cart.total_price | money }}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="head-form-mob" style="width: 100%;">
              <form action="/search" method="get" role="search">
                <div class="field">
                  <input  id="Search-In-Modal" type="search" name="q" value="" placeholder="Search Your Product....." role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" aria-activedescendant="">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button" aria-label="Search">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.375 8.25H8.7825L8.5725 8.0475C9.33291 7.16552 9.75083 6.03952 9.75 4.875C9.75 3.91082 9.46409 2.96829 8.92842 2.1666C8.39275 1.36491 7.63137 0.740067 6.74058 0.371089C5.84979 0.00211226 4.86959 -0.094429 3.92394 0.093674C2.97828 0.281777 2.10964 0.746076 1.42786 1.42786C0.746076 2.10964 0.281777 2.97828 0.093674 3.92394C-0.094429 4.86959 0.00211226 5.84979 0.371089 6.74058C0.740067 7.63137 1.36491 8.39275 2.1666 8.92842C2.96829 9.46409 3.91082 9.75 4.875 9.75C6.0825 9.75 7.1925 9.3075 8.0475 8.5725L8.25 8.7825V9.375L12 13.1175L13.1175 12L9.375 8.25ZM4.875 8.25C3.0075 8.25 1.5 6.7425 1.5 4.875C1.5 3.0075 3.0075 1.5 4.875 1.5C6.7425 1.5 8.25 3.0075 8.25 4.875C8.25 6.7425 6.7425 8.25 4.875 8.25Z" fill="white"/>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="bt-col header-icons-block head-form-desk">
            <div class="header-icons-wrapper">
              <div class="header-login">
               <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 4C11.93 4 13.5 5.57 13.5 7.5C13.5 9.43 11.93 11 10 11C8.07 11 6.5 9.43 6.5 7.5C6.5 5.57 8.07 4 10 4ZM10 18C7.97 18 5.57 17.18 3.86 15.12C5.6116 13.7457 7.77362 12.9988 10 12.9988C12.2264 12.9988 14.3884 13.7457 16.14 15.12C14.43 17.18 12.03 18 10 18Z" fill="white"/>
                    </svg>
                  <span class="visually-hidden">
                    {%- liquid
                      if customer
                        echo 'customer.account_fallback' | t
                      else
                        echo 'customer.log_in' | t
                      endif
                    -%}
                  </span>
                </a>
              </div>
              {% comment %}
              <div class="header-search">
                <a href="{{ routes.search_url }}" class="header__icon header__icon--search link focus-inset">
                  <p class="icons-b-icon" >
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.5014 11.0014H11.7114L11.4314 10.7314C12.0564 10.0054 12.5131 9.15021 12.769 8.22705C13.0248 7.30389 13.0735 6.33559 12.9114 5.39144C12.4414 2.61144 10.1214 0.39144 7.32144 0.0514397C6.33706 -0.0730946 5.33723 0.0292113 4.39846 0.350529C3.4597 0.671846 2.60688 1.20366 1.90527 1.90527C1.20366 2.60688 0.671846 3.4597 0.350529 4.39846C0.0292113 5.33723 -0.0730946 6.33706 0.0514397 7.32144C0.39144 10.1214 2.61144 12.4414 5.39144 12.9114C6.33559 13.0735 7.30389 13.0248 8.22705 12.769C9.15021 12.5131 10.0054 12.0564 10.7314 11.4314L11.0014 11.7114V12.5014L15.2514 16.7514C15.6614 17.1614 16.3314 17.1614 16.7414 16.7514C17.1514 16.3414 17.1514 15.6714 16.7414 15.2614L12.5014 11.0014ZM6.50144 11.0014C4.01144 11.0014 2.00144 8.99144 2.00144 6.50144C2.00144 4.01144 4.01144 2.00144 6.50144 2.00144C8.99144 2.00144 11.0014 4.01144 11.0014 6.50144C11.0014 8.99144 8.99144 11.0014 6.50144 11.0014Z" fill="white"/>
                    </svg>
                  </p>
                </a>
              </div>
              {% endcomment %}
              <div class="header-cart">
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                  <p class="icons-b-icon {% if cart.item_count > 0 %}has_product{% endif %}" >
                    {% comment %}
                    <img src="https://cdn.shopify.com/s/files/1/0611/8827/6381/files/cart-icon.png?v=1651941944" alt="cart-icon.png">
                    {% endcomment %}
                    <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.383 3.77727H12.1212C11.9859 2.744 11.4958 1.79487 10.7398 1.10191C9.98372 0.408948 9.01173 0.0180251 8 0C6.98827 0.0180251 6.01628 0.408948 5.26023 1.10191C4.50418 1.79487 4.0141 2.744 3.87883 3.77727H2.61762C1.9237 3.77774 1.25831 4.06192 0.767539 4.56741C0.276768 5.0729 0.000720503 5.75839 0 6.47339V16.3032C0.000621804 17.0182 0.276482 17.7036 0.767043 18.2092C1.2576 18.7148 1.92279 18.9992 2.61663 19H13.3826C14.0766 18.9994 14.742 18.7151 15.2327 18.2095C15.7234 17.7039 15.9994 17.0183 16 16.3032V6.47339C15.9993 5.7585 15.7233 5.0731 15.2327 4.56763C14.742 4.06216 14.0768 3.77791 13.383 3.77727ZM8 1.40093C8.65213 1.41554 9.2799 1.65901 9.77952 2.09111C10.2791 2.5232 10.6207 3.11803 10.7477 3.77727H5.2523C5.37932 3.11803 5.72087 2.5232 6.22048 2.09111C6.7201 1.65901 7.34787 1.41554 8 1.40093ZM14.6399 16.3032C14.6395 16.6467 14.507 16.976 14.2713 17.2189C14.0357 17.4618 13.7162 17.5985 13.3829 17.5991H2.617C2.2837 17.5985 1.96422 17.4618 1.72861 17.2188C1.493 16.9759 1.36048 16.6467 1.36012 16.3032V6.47339C1.36052 6.13001 1.49308 5.80081 1.72872 5.558C1.96437 5.3152 2.28387 5.17861 2.61713 5.1782H13.3831C13.7163 5.17868 14.0358 5.31529 14.2714 5.55809C14.507 5.80089 14.6395 6.13006 14.6399 6.47339V16.3032Z" fill="white"/>
                    </svg>
                  </p>
                  <div class="icons-b-desc" style="display: none;">
                    <h4>SHOPPING CART</h4>
                    <div class="cart-count-bubble">
                      <span>{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                      - <span class="cart_price">{{ cart.total_price | money }}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-main">
      <div class="bt-container">
        <div  class="head-form-desk">
          <form action="/search" method="get" role="search">
            <div class="field">
              <input  id="Search-In-Modal" type="search" name="q" value="" placeholder="Search Your Product....." role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" aria-activedescendant="">
              <input type="hidden" name="options[prefix]" value="last">
              <button class="search__button field__button" aria-label="Search">
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.999 9.02871H10.304L10.0576 8.80712C10.6075 8.21128 11.0093 7.50943 11.2344 6.75181C11.4595 5.99419 11.5023 5.19952 11.3597 4.42467C10.9462 2.14317 8.90505 0.321248 6.44155 0.0422157C5.57547 -0.0599876 4.6958 0.0239732 3.86986 0.287673C3.04392 0.551373 2.29359 0.987823 1.6763 1.56363C1.059 2.13943 0.591104 2.83932 0.308402 3.60975C0.0257007 4.38018 -0.0643101 5.20072 0.0452577 6.00859C0.344397 8.3065 2.2976 10.2105 4.7435 10.5962C5.57418 10.7292 6.42611 10.6893 7.23833 10.4793C8.05054 10.2693 8.80296 9.89449 9.44174 9.3816L9.67929 9.61139V10.2597L13.4185 13.7476C13.7793 14.0841 14.3687 14.0841 14.7295 13.7476C15.0902 13.4112 15.0902 12.8613 14.7295 12.5248L10.999 9.02871ZM5.7201 9.02871C3.52935 9.02871 1.76091 7.37913 1.76091 5.33563C1.76091 3.29212 3.52935 1.64255 5.7201 1.64255C7.91085 1.64255 9.67929 3.29212 9.67929 5.33563C9.67929 7.37913 7.91085 9.02871 5.7201 9.02871Z" fill="#0000D8"/>
                </svg>
              </button>
            </div>
          </form>
        </div>
        {% if section.settings.header_phone != blank %}
              <div class="header-call">
                <p class="icons-b-icon hidden" >
                  <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 2.125C25.2012 2.125 31.875 8.79883 31.875 17C31.875 25.2012 25.2012 31.875 17 31.875C8.79883 31.875 2.125 25.2012 2.125 17C2.125 8.79883 8.79883 2.125 17 2.125ZM17 0C7.61182 0 0 7.61182 0 17C0 26.3882 7.61182 34 17 34C26.3882 34 34 26.3882 34 17C34 7.61182 26.3882 0 17 0ZM26.4774 22.684L26.3819 22.3934C26.1578 21.7252 25.4191 21.0279 24.7384 20.8412L22.2254 20.1543C21.5447 19.9696 20.5735 20.2186 20.0734 20.7188L19.1644 21.6277C15.8607 20.7333 13.2688 18.1414 12.3765 14.8377L13.2854 13.9287C13.7835 13.4307 14.0325 12.4595 13.8478 11.7767L13.163 9.26367C12.9783 8.58301 12.2769 7.84424 11.6087 7.62012L11.3223 7.52462C10.652 7.3005 9.69531 7.52668 9.19727 8.02686L7.83594 9.38818C7.59316 9.62891 7.4375 10.3199 7.4375 10.3221C7.39181 14.6426 9.08524 18.8034 12.1399 21.8601C15.1863 24.9065 19.3326 26.5978 23.6386 26.5604C23.6614 26.5604 24.3732 26.409 24.616 26.1661L25.9773 24.8048C26.4754 24.3089 26.6995 23.3522 26.4774 22.684Z" fill="white"></path>
                  </svg>
                </p>
                <div class="icons-b-desc">
                  <p>
                    <span>{{ section.settings.shipping_text }}</span>
                    <a href="tel:{{section.settings.header_phone | replace : "(", "" | replace : ")", "" | replace : " ", "" | replace : "-", ""}}" class="hidden-link">{{ section.settings.header_phone }}</a>
                  </p>
                </div>
              </div>
              {% endif %}
        {% comment %}
        <div class="bt-header-menu">
          {%- if section.settings.menu != blank -%}
            <header-drawer data-breakpoint="tablet">
              <details id="Details-menu-drawer-container" class="menu-drawer-container">
                <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
                  <span>
                    {% render 'icon-hamburger' %}
                    {% render 'icon-close' %}
                  </span>
                </summary>
                <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
                  <div class="menu-drawer__inner-container">
                    <div class="menu-drawer__navigation-container">
                      <nav class="menu-drawer__navigation">
                        <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                          {%- for link in section.settings.mobile_menu.links -%}
                            <li>
                              {%- if link.links != blank -%}
                                <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                                  <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                                    {{ link.title | escape }}
                                    {% render 'icon-arrow' %}
                                    {% render 'icon-caret' %}
                                  </summary>
                                  <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                                    <div class="menu-drawer__inner-submenu">
                                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                        {% render 'icon-arrow' %}
                                        {{ link.title | escape }}
                                      </button>
                                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                        {%- for childlink in link.links -%}
                                          <li>
                                            {%- if childlink.links == blank -%}
                                              <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                {{ childlink.title | escape }}
                                              </a>
                                            {%- else -%}
                                              <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                                <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                  {{ childlink.title | escape }}
                                                  {% render 'icon-arrow' %}
                                                  {% render 'icon-caret' %}
                                                </summary>
                                                <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                                  <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                    {% render 'icon-arrow' %}
                                                    {{ childlink.title | escape }}
                                                  </button>
                                                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                    {%- for grandchildlink in childlink.links -%}
                                                      <li>
                                                        <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                          {{ grandchildlink.title | escape }}
                                                        </a>
                                                      </li>
                                                    {%- endfor -%}
                                                  </ul>
                                                </div>
                                              </details>
                                            {%- endif -%}
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </div>
                                </details>
                              {%- else -%}
                                <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                  {{ link.title | escape }}
                                </a>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </details>
            </header-drawer>
          {%- endif -%}
    
          {%- if section.settings.menu != blank -%}
            {%- if section.settings.menu_type_desktop == 'dropdown' -%}
              <nav class="header__inline-menu dropdown-type">
                <ul class="list-menu list-menu--inline" role="list">
                  {%- for link in section.settings.menu.links -%}
                    <li>
                      {%- if link.links != blank -%}
                        <header-menu>
                          <details id="Details-HeaderMenu-{{ forloop.index }}">
                            <summary class="header__menu-item list-menu__item link focus-inset first__level">
                              <span{% if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                              <span class="drop-icons">{% render 'icon-caret' %}</span>
                            </summary>
                            <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                      <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                        <span>{{ childlink.title | escape }}</span>
                                        {% render 'icon-caret' %}
                                      </summary>
                                      <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        </header-menu>
                      {%- else -%}
                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            {%- else -%}
              <nav class="header__inline-menu">
                <ul class="list-menu list-menu--inline" role="list">
                  {%- for link in section.settings.menu.links -%}
                    <li>
                      {%- if link.links != blank -%}
                        <header-menu>
                          <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                            <summary class="header__menu-item list-menu__item link focus-inset">
                              <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                              <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                                {%- for childlink in link.links -%}
                                  <li>
                                    <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                      {{ childlink.title | escape }}
                                    </a>
                                    {%- if childlink.links != blank -%}
                                      <ul class="list-unstyled" role="list">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    {%- endif -%}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </details>
                        </header-menu>
                      {%- else -%}
                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
        </div>
        {% endcomment %}
      </div>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
  
  document.querySelector('.menu-drawer .menu_close').addEventListener('click',function(){
    document.querySelector('.header__icon--menu').dispatchEvent(new Event('click'))
  });
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
<script>
  let srchdrawer = document.querySelector('.header-search a');
  srchdrawer.addEventListener('click', (e) => {
    e.preventDefault();
    document.querySelector(".head-form-pop").classList.toggle("sopen");
});
  let srchdrawercl = document.querySelector('.head-form-pop .head-form-popover');
  srchdrawercl.addEventListener('click', (e) => {
    e.preventDefault();
    document.querySelector(".head-form-pop").classList.toggle("sopen");
});
  let itemsHover = document.querySelector(".header__inline-menu").querySelectorAll("details");
  // console.log(itemsHover)
  itemsHover.forEach(item => {
    item.addEventListener("mouseover", () => {
      item.setAttribute("open", true);
      item.querySelector("ul").addEventListener("mouseleave", () => {
        item.removeAttribute("open");
      });
    item.addEventListener("mouseleave", () => {
      item.removeAttribute("open");
    });
  });
  
  });
</script>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header Top"
    },
    {
      "type": "link_list",
      "id": "top_menu",
      "label": "Select Top Menu"
    },
    {
      "type": "text",
      "id": "new_window_link",
      "label": "New Window Link"
    },
    {
      "type": "text",
      "id": "top_right_text",
      "label": "Add Top Right Text"
    },
    {
      "type": "url",
      "id": "top_right_link",
      "label": "Add Top Right Link"
    },
    {
      "type": "header",
      "content": "Header Bottom"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "default": "main-menu",
      "label": "Add Mobile Menu"
    },
    {
      "type": "text",
      "id": "shipping_text",
      "label": "Add Shipping"
    },
    {
      "type": "text",
      "id": "header_phone",
      "label": "Add Phone Number",
      "info": "Ex. (833) 416-9396"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Menu Setting",
      "settings": [
        {
          "type": "text",
          "id": "mega_menu_text1",
          "label": "Heightlighted Menu Title"
        },
        {
          "type": "text",
          "id": "mega_menu_text2",
          "label": "Mega Menu Title"
        }
      ]
    }
  ]
}
{% endschema %}
