<div class="tracking-inner-section section-spacing">
  <div class="bt-container">
    <h2 class="section__title {{ section.settings.heading_size }}">
      {{ page.title | escape }}
    </h2>
    <div class="tacking-row">
      <div class="tacking-column">
        <div class="inner-tracking-content">
          <h4>{{ section.settings.heading }}</h4>
          {% comment %} Tracking Code {% endcomment %}
          <div class="as-track-button" data-size="medium" data-domain="thetrailerpartsoutlet.aftership.com" data-look-up-option="both" data-btn-bg-color="#000646"></div>
          <script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="https://button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>
          {% comment %} Tracking Code Over {% endcomment %}
          <div class="tracking-note"><b>Note</b> : {{ section.settings.note}}</div>
        </div>
      </div>
      <div class="tacking-column">
        <figure>
          <img src="{{ section.settings.image | img_url: 'master' }}" />
        </figure>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Tracking Section",
  "class" :"tracking-section",
  "tag" : "section",
  "settings": [
    {
      "type" : "textarea",
      "id" : "heading",
      "label" : "Add Heading"
    },
	{
      "type" : "textarea",
      "id" : "note",
      "label" : "Add Form Note"
    },
	{
      "type" : "image_picker",
      "id" : "image",
      "label" : "Select"
    }
	
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
